* {
  border
}

body{
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square{
  width: 70px;
  height: 70px;
  border: 1px solid lightblue;
  background-color: white;
  font-size: 1.9rem;
  font-weight: bold;
  cursor: pointer;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 210px;
}

.status{
  margin-bottom: 10px;
}

.game{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.game-board{
  border: 1px solid darkblue;
  padding: 5px;
}

@media (max-width: 800px) {
  .game {
    flex-wrap: none;
  }
}
.game-info{
  font-size: 1.3rem;
}
.game-info button{
  margin-bottom: 5px;
  background-color: lightgreen;
  font-size: 1.2rem;
  padding: 5px;
}